*{ 
    font-size: medium;
    font-family: Roboto , Arial, sans-serif;
    box-sizing: border-box;
}
.hero{height: 100%;
    width: 100%;
    background-image: url(images.jpg);
    background-size: cover;
    background-position: center;


}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top:5px ;
    padding-right:8% ;
    padding-left:8%;
}
.logo{
    color: white;
    font-size: 30px;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    color: rgba(158, 28, 34, 0.932);
    font-size: 28px;
}
nav ul li{ list-style-type: none;
    display: inline-block;
    padding: 10px 25px;

}
nav ul li a {
    color: white;
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
    text-transform: capitalize;

}
nav ul li a :hover{
    color: #f9004d;
    transition: 0.5s;

}
.btn{ background-color: black;
    color: white; 
    text-decoration: none;
    border: 2 solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;

}
.btn:hover{
    transform: scale(1.2);
}
.content{
    position: relative;
    top: 50%;
    left: 20%;
    
}
h1{ text-align: center;
    color: rgb(185, 80, 80);
    margin: 20px 0px 20px;
    font-size: 75px;
}
h3{text-align: center;
    color:rgb(148, 77, 77);
    font-size: 25px;
    margin-bottom: 50px;
}
h4{ text-align: center;
    color: rgba(160, 42, 97, 0.8);
    letter-spacing: 2px;
    font-size: 20px;
}
.newslatter form{ 
    width: 380px;
    max-width: 100%;
    position: relative;
}
.newslatter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border:2px solid #f9004d ;
    outline: none;
    border-radius: 30px;
}

.newslatter form input:last-child {
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #f9004d;
    color: white;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    top: 6px;
    right: 6px;
  }
  .about{
    width: 100%;
    padding: 100px 0px;
    background-image: url(téléchargement.jpg);
  }
  .about img{
    width: 430px;
    height: 400px;

  }
  .about text{
    width: 500px;
  }
  .main{
    width: 1100px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;


  }

.about-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;

}
.about-text h5{
    color: white;
    font-size: 25px;
    letter-spacing:2px ;
    margin-bottom: 25px;
    text-transform: capitalize;

}
.about-text p{
    color: white;
    letter-spacing: 1px;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 40px;

}
button {
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: 0.4s;
  }
  button:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
 
}
.sect3{
    background-color: #858585;
    width: 100%;
    padding: 100px 0px;
}
.title h2{
    color: white;
    font-size: 75px;
    width: 110px;
    margin: 30px auto;
    text-align: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}



.card {
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
  }
  .card i {
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #f9004d;
  }

.para h3{
    color: rgb(175, 65, 65);
    font-size: 22px;
    margin-bottom: 15px;

}
.para{ color: white;
    font-size: 16px;
    line-height: 27px;
    margin: 33px auto;

}


footer {
    position: relative;
    width: 100%;
    height: 369px;
    background: #101728;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer p:nth-child(1) {
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
  }
  footer p:nth-child(2) {
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
  }
  .sect6{
    width: 100px;
    margin-left: 400px;
  }
  .sect6 li{
list-style-type: none;
display: inline-block;
padding: 16px 25px;
  }

.social {
    display: flex;
  }
  .contact-me {
    width: 100%;
    height: 290px;
    background: #101728;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .contact-me p {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
  }
  .contact-me .button-two {
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: 0.4s;
  }
  .sect7{ width: 1100px;
    padding: 20px auto;

    
  }
  .sect7 h2{ font-size: 40px;
    text-align: center;
    margin-left: 30%;
  }
  video{
    margin-left: 40%;
  }
  .contact-me .button-two:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
  }
  .social a {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #7a5762;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
  }
  .social a:hover {
    cursor: pointer;
    color: #858585;
    
  }
  .end {
    position: absolute;
    color: #f9004d;
    bottom: 35px;
    font-size: 14px;
  }